@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-image: url("/header.png");
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
strong,h1{
    font-size:1.4rem;
}
.circle{
    width:5rem;
    height:5rem;
    stroke-width: 200px;
}